<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
 
<h3>Add a Squirrel</h3>
 
<form action="" method="post" novalidate>
    {% csrf_token %}
    <div>
        <label for="id_{{ form.Longitude.name }}">Longitude</label>
        {{ form.Longitude }} <span>{{ form.Longitude.errors.0 }}</span>
    </div>
    <div>
        <label for="id_{{ form.Latitude.name }}">Latitude</label>
        {{ form.Latitude }} <span>{{ form.Latitude.errors.0 }}</span>
    </div>
    <div>
        <label for="id_{{form.Unique_Squirrel_ID.name}}">Unique Squirrel ID</label>
        {{ form.Unique_Squirrel_ID }} <span>{{ form.Unique_Squirrel_ID.errors.0 }}</span>
    </div>
    <div>
	 <label for="id_{{form.Shift.name}}">Choose a shift</label>
   	 <select name="Shift" id="Shift">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Date.name}}">Date</label>
        {{ form.Date }} <span>{{ form.Date.errors.0 }}</span>
    </div>
    <div>
        <label for="id_{{form.Age.name}}">Choose an Age</label>
	<select name="Age" id="Age">
            <option value="Adult">Adult</option>
            <option value="Juvenile">Juvenile</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Primary_Fur_Color.name}}">Choose a Primary Fur Color</label>
    	<select name="Primary_Fur_Color" id="Primary_Fur_Color">
	    <option value=""></option>
            <option value="Gray">Gray</option>
            <option value="Black">Black</option>
	    <option value="Cinnamon">Cinnamon</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Location.name}}">Choose a Location</label>
	<select name="Location" id="Location">
            <option value=""></option>
            <option value="Ground Plane">Ground Plane</option>
            <option value="Above Ground">Above Ground</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Specific_Location.name}}">Specific Location</label>
        {{ form.Specific_Location }} <span>{{ form.Specific_Location.errors.0 }}</span>
    </div>
    <div>
        <label for="id_{{form.Running.name}}">Running? T/F</label>
	<select name="Running" id="Running">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Chasing.name}}">Chasing? T/F</label>
	<select name="Chasing" id="Chasing">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Climbing.name}}">Climbing? T/F</label>
	<select name="Climbing" id="Climbing">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Eating.name}}">Eating? T/F</label>
	<select name="Eating" id="Easting">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Foraging.name}}">Foraging? T/F</label>
	<select name="Foraging" id="Foraging">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Other_Activities.name}}">Other Activities</label>
        {{ form.Other_Activities }} <span>{{ form.Other_Activities.errors.0 }}</span>
    </div>
    <div>
        <label for="id_{{form.Kuks.name}}">Kuks? T/F</label>
    	<select name="Kuks" id="Kuks">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Quaas.name}}">Quaas? T/F</label>
    	<select name="Quaas" id="Quaas">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Moans.name}}">Moans? T/F</label>
    	<select name="Moans" id="Moans">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Tail_flags.name}}">Tail flags? T/F</label>
    	<select name="Tail_flags" id="Tail_flags">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Tail_twitches.name}}">Tail twitches? T/F</label>
    	<select name="Tail_twitches" id="Tail_twitches">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Approaches.name}}">Approaches? T/F</label>
    	<select name="Approaches" id="Approaches">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Indifferent.name}}">Indifferent? T/F</label>
    	<select name="Indifferent" id="Indifferent">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Runs_from.name}}">Runs from? T/F</label>
    	<select name="Runs_from" id="Runs_from">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    
    <input type="submit">
</form>
</body>
</html>
