<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
 
<h3>Add a Squirrel</h3>
 
<form action="" method="post" novalidate>
    {% csrf_token %}
    <div>
        <label for="id_{{ form.Longitude.name }}">Longitude</label>
        {{ form.Longitude }} <span>{{ form.Longitude.errors.0 }}</span>
    </div>
    <div>
        <label for="id_{{ form.Latitude.name }}">Latitude</label>
        {{ form.Latitude }} <span>{{ form.Latitude.errors.0 }}</span>
    </div>
    <div>
        <label for="id_{{form.Unique_Squirrel_ID.name}}">Unique Squirrel ID</label>
        {{ form.Unique_Squirrel_ID }} <span>{{ form.Date.errors.0 }}</span>
    </div>
    <div>
	 <label for="id_{{form.Shift.name}}">Choose a shift</label>
   	 <select name="Shift" id="Shift">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Date.name}}">Date</label>
        {{ form.Date }} <span>{{ form.Date.errors.0 }}</span>
    </div>
    <div>
        <label for="id_{{form.Age.name}}">Choose an Age</label>
	<select name="Age" id="Age">
            <option value="Adult">Adult</option>
            <option value="Juvenile">Juvenile</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Primary_Fur_Color.name}}">Choose a Primary Fur Color</label>
    	<select name="Primary_Fur_Color" id="Primary_Fur_Color">
	    <option value=""></option>
            <option value="Gray">Gray</option>
            <option value="Black">Black</option>
	    <option value="Cinnamon">Cinnamon</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Location.name}}">Choose a Location</label>
	<select name="Location" id="Location">
            <option value=""></option>
            <option value="Ground Plane">Ground Plane</option>
            <option value="Above Ground">Above Ground</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Specific_Location.name}}">Specific Location</label>
        {{ form.Specific_Location }} <span>{{ form.Specific_Location.errors.0 }}</span>
    </div>
    <div>
        <label for="id_{{form.Running.name}}">Running? T/F</label>
	<select name="Running" id="Running">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Chasing.name}}">Chasing? T/F</label>
	<select name="Chasing" id="Chasing">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Climbing.name}}">Climbing? T/F</label>
	<select name="Climbing" id="Climbing">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Eating.name}}">Eating? T/F</label>
	<select name="Eating" id="Easting">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Foraging.name}}">Foraging? T/F</label>
	<select name="Foraging" id="Foraging">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Other_Activities.name}}">Other Activities</label>
        {{ form.Other_Activities }} <span>{{ form.Other_Activities.errors.0 }}</span>
    </div>
    <div>
        <label for="id_{{form.Kuks.name}}">Kuks? T/F</label>
    	<select name="Kuks" id="Kuks">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Quaas.name}}">Quaas? T/F</label>
    	<select name="Quaas" id="Quaas">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Moans.name}}">Moans? T/F</label>
    	<select name="Moans" id="Moans">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Tail_flags.name}}">Tail flags? T/F</label>
    	<select name="Tail_flags" id="Tail_flags">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Tail_twitches.name}}">Tail twitches? T/F</label>
    	<select name="Tail_twitches" id="Tail_twitches">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Approaches.name}}">Approaches? T/F</label>
    	<select name="Approaches" id="Approaches">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Indifferent.name}}">Indifferent? T/F</label>
    	<select name="Indifferent" id="Indifferent">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    <div>
        <label for="id_{{form.Runs_from.name}}">Runs from? T/F</label>
    	<select name="Runs_from" id="Runs_from">
            <option value=""></option>
            <option value="True">True</option>
            <option value="False">False</option>
         </select>
    </div>
    
    <input type="submit">
</form>
<!--
    <p>Latitude: <input type="text" name="latitude"></p>
    <p>Longitude: <input type="text" name="longitude"></p>
    <p>Unique Squirrel ID: <input type="text" name="unique squirrel id"></p>
    <p><label for="Shift">Choose a shift</label>
    <select name="Shift" id="Shift">
	    <option value="AM">AM</option>
	    <option value="PM">PM</option>
    </select></p>
    <p>Date:<input type="text" name="date"></p>
    <p><label for="Age">Choose the squirrel's age</label>
    <select name="Age" id="Age">
            <option value="Adult">Adult</option>
            <option value="Juvenile">Juvenile</option>
    </select></p>
    <p><label for="Primary Fur Color">Choose the squirrel's primary fur color</label>
    <select name="Primary_Fur_Color" id="Primary_Fur_Color">
            <option value="Gray">Gray</option>
            <option value="Cinnamon">Cinnamon</option>
	    <option value="Black">Black</option>
    </select></p>
    <p><label for="Primary Fur Color">Choose the squirrel's primary fur color</label>
    <select name="Location" id="Location">
            <option value="Ground Plane">Ground Plane</option>
            <option value="Above Ground">Above Ground</option>
    </select></p>
    <p>Specific Location:<input type="text" name="specific location"></p>
    <p><label for="Running">Running or not</label>
    <select name="Running" id="Running">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Chasing">Chasing or not</label>
    <select name="Chasing" id="Chasing">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Climbing">Climbing or not</label>
    <select name="Climbing" id="Climbing">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Eating">Eating or not</label>
    <select name="Eating" id="Eating">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Foraging">Foraging or not</label>
    <select name="Foraging" id="Foraging">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p>Other Activities:<input type="text" name="other activities"></p>
    <p><label for="Kuks">Kuks or not</label>
    <select name="Kuks" id="Kuks">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Quaas">Quaas or not</label>
    <select name="Quaas" id="Quaas">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Moans">Moans or not</label>
    <select name="Moans" id="Moans">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Tail flags">Tail flags or not</label>
    <select name="Tail flags" id="Tail flags">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Tail twitches">Tail twitches or not</label>
    <select name="Tail twitches" id="Tail twitches">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Approaches">Approaches or not</label>
    <select name="Approaches" id="Approaches">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Indifferent">Indifferent or not</label>
    <select name="Indifferent" id="Indifferent">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>
    <p><label for="Runs from">Runs from or not</label>
    <select name="Runs from" id="Runs from">
            <option value="True">True</option>
            <option value="False">False</option>
    </select></p>

    <input type="submit">
</form>
---> 
{#2、通过form对象的as_p方法实现#}
{#<form action="" method="post" novalidate>#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit">#}
{#</form>#}
 
{#3、手动获取form对象的字段#}
{#<form action="" method="post" novalidate>#}
{#    {% csrf_token %}#}
{#    <div>#}
{#        <label for="id_{{ form.name.name }}">姓名</label>#}
{#        {{ form.name }} <span>{{ form.name.errors.0 }}</span>#}
{#    </div>#}
{#    <div>#}
{#        <label for="id_{{ form.age.name }}">年龄</label>#}
{#        {{ form.age }} <span>{{ form.age.errors.0 }}</span>#}
{#    </div>#}
{#    <div>#}
{#        <label for="id_salary">工资</label>#}
{#        {{ form.salary }} <span>{{ form.salary.errors.0 }}</span>#}
{#    </div>#}
{#    <input type="submit">#}
{#</form>#}
 
 
{#4、用for循环展示所有字段#}
{#<form action="" method="post" novalidate>#}
{#    {% csrf_token %}#}
{#    {% for field in form %}#}
{#        <div>#}
{#            <label for="id_{{ field.name }}">{{ field.label }}</label>#}
{#            {{ field }} <span>{{ field.errors.0 }}</span>#}
{#        </div>#}
{#    {% endfor %}#}
{#    <input type="submit">#}
{#</form>#}
 
</body>
</html>

