<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

	<p>Longitude: {{squirrel.Longitude}}</p>
	<p>Latitude: {{squirrel.Latitude}}</p>
	<p>Unique Squirrel ID: {{squirrel.Unique_Squirrel_ID}}</p>
	<p>Shift: {{squirrel.Shift}}</p>
	<p>Date: {{squirrel.Date}}</p>
	<p>Age: {{squirrel.Age}}</p>
	<p>Primary Fur Color: {{squirrel.Primary_Fur_Color}}</p>
	<p>Location: {{squirrel.Location}}</p>
	<p>Specific Location: {{squirrel.Specific_Location}}</p>
	<p>Running: {{squirrel.Running}}</p>
	<p>Chasing: {{squirrel.Chasing}}</p>
	<p>Climbing: {{squirrel.Climbing}}</p>
	<p>Eating: {{squirrel.Eating}}</p>
	<p>Foraging: {{squirrel.Foraging}}</p>
	<p>Other Activities: {{squirrel.Other_Activities}}</p>
	<p>Kuks: {{squirrel.Kuks}}</p>
	<p>Quaas: {{squirrel.Quaas}}</p>
	<p>Moans: {{squirrel.Moans}}</p>
	<p>Tail flags: {{squirrel.Tail_flags}}</p>
	<p>Tail twitches: {{squirrel.Tail_twitches}}</p>
	<p>Approaches: {{squirrel.Approaches}}</p>
	<p>Indifferent: {{squirrel.Indifferent}}</p>
	<p>Runs from: {{squirrel.Runs_from}}</p>



















</body>
</html>
